body {
    width: 600px;
    margin: 50px auto 0px auto;
}

#vice-split-player-nn {
    width: 100%;
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    background-color: grey;
}

#vice-split-player-nn .side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#vice-split-player-nn .side.right {
    pointer-events: none;
}

#vice-split-player-nn .rightFrame, #vice-split-player-nn .leftFrame{
    overflow: hidden;

    transition-property: width;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    transition-duration: 0s;


}

#vice-split-player-nn #rightvideo .vjs-control-bar,
#vice-split-player-nn #rightvideo .vjs-big-play-button {
    display: none !important;
}

#vice-split-player-nn #leftvideo .vjs-control-bar,
#vice-split-player-nn #leftvideo .vjs-big-play-button {
    z-index: 1000;
    position: absolute;
}

#vice-split-player-nn #leftvideo .vjs-picture-in-picture-control {
    display: none !important;
}