body {
    width: 600px;
    margin: 50px auto 0px auto;
}

.wrapper {
    width: 100%;
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    background-color: grey;
}

.side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.side.right {
    pointer-events: none;
}

.left {
    background-color: red;
}

.right {
    background-color: green;

    clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);

    transition-property: clip-path;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    transition-duration: 0s;

    -webkit-clip-transition-property: -webkit-clip-path;
    -webkit-clip-transition-timing-function: ease-out;
    -webkit-clip-transition-delay: 0s;
    -webkit-clip-transition-duration: 0s;
}

#rightvideo .vjs-control-bar,
#rightvideo .vjs-big-play-button {
    display: none !important;
}

#leftvideo .vjs-control-bar,
#leftvideo .vjs-big-play-button {
    z-index: 1000;
    position: absolute;
}

#leftvideo .vjs-picture-in-picture-control {
    display: none !important;
}